.title {

    text-align: center;
}

body{
    background-image: url("https://i.pinimg.com/736x/9b/fb/74/9bfb743648adf4ff0751b52b13f415cd.jpg");
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: #D2691E;

}

.random{
    text-align: center;
    margin-top: 50px;

}

#btn{
    color: #D2691E;
    border-radius: 70px;
    border: #D2691E;
    background-color: wheat;
    font-size: large;
}

.imgdiv{
    z-index: 1;
    text-align: center;
    border-radius: 5px;
}
